@font-face {
    font-family: 'Airstream';
    src: url('fonts/Airstream-webfont.ttf');
}

body {
    text-decoration: none;
    padding: 20px;
    font-family: sans-serif;
}

header {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-line h1 {
    font-family: 'Airstream';
}

.logo {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    height: 50px;
    transition: all 1s ease-in-out;
}

.logo:hover {
    border: 1px dotted;
}

.logo.clicked {
    transform: rotate(360deg);
}

#main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.example {
    width: 80%;
    position: relative;
}

.example-pic {
    width: 100%;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.example-pic:hover {
    transform: scale(1.1);
}

.detail-text {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;

    position: absolute;
    width: 80%;
    height: 80%;
    overflow: auto;
    margin: auto;
    top: 0;

    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.detail-text.active {
    visibility: visible;
    opacity: 1;
    transform: opacity 0.2s;
}

@media all and (max-aspect-ratio:1/1) {
    .main-content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .content-wrapper {
        width: 80%;
    }
}